.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.envelope {
  position: relative;
  width: 800px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 0.5s ease-in-out;
}

.closed {
  background-image: url("./assets/closed.png");
}

.open {
  background-image: url("./assets/open.png");
}

.heart-button {
  width: 100px;
  height: 100px;
  background-image: url("./assets/heart.png");
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: none;
  bottom: -250px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heart-text {
  position: absolute;
  bottom: 35px; /* move text lower, adjust as needed */
  text-align: center;
  width: 100%; /* center text horizontally */
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1rem;
}

.letter {
  position: absolute;
  bottom: 700px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 500px;
  height: 500px;
  background-image: url("./assets/letter.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.letter.open {
  transform: translateX(-50%) translateY(-50%);
}

.yes-button {
  width: 80px;
  height: 80px;
  background-image: url("./assets/heart.png");
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: none;
  bottom: -58px;
  left: -70px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.no-button {
  width: 80px;
  height: 80px;
  background-image: url("./assets/heart.png");
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
